[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LakeMetabolizer"]
	path = LakeMetabolizer
	url = https://github.com/gleon/lakemetabolizer
[submodule "laketemps"]
	path = laketemps
	url = https://github.com/gleon/laketemps
[submodule "rLakeAnalyzer"]
	path = rLakeAnalyzer
	url = https://github.com/gleon/rlakeanalyzer
